# Ignore git files, readme and doc media
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore linguist-documentation
/GH_Media export-ignore

#Tell the linguist that files in builks were generated automatically, and should be ignored
Builks/* linguist-generated

#Tell the linguist to ignore everything in Assets/TextMesh Pro
Assets/TextMesh?Pro/* linguist-vendored